<section class="signin form-container">
  <header class="form-header">
    <h1 class="form-title">Welcome Back!</h1>
    <p class="form-subtitle">Enjoy yourself and be comfortable </p>
  </header>

  {{!-- {{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
  {{/if}} --}}

 {{>flashMessage}}

  <form method="post" action="/auth/signin" id="form_user">
    <div class="form-input">
      <label for="email" class="label-ref label">Email</label>
      <input id="email" type="email" name="email" class="input-text input" placeholder="example@example.com" required value="ro@will.com">
    
    
      <label for="password" class="label-ref label">Password</label>
      <input id="password" type="password"  name="password" class="input-text input" placeholder="••••••" required value="1234">
    </div>
    
    <button class="button-primary white">Log in !</button>
  </form>
  <p class="form-sub-infos">Don't have an account yet ? <a href="/auth/signup" class="button-link-form">Sign Up</a></p>
 
</section>