
<h2>Welcome!</h2>
{{#if foodJoke}}
<p id="food-joke"><b>Random joke :) </b>{{foodJoke}}</p>
{{/if}}
<h2>Search for recipes below, or use the "what's in your fridge?" tool over on the recipes page</h2>
<div id="search-bar-box">
    <input id="search_input" type="text" class="input">
    <ul id="search_results"></ul>
</div>
<h2>Or what about trying one of these tasty treats?!</h2>
<div id="recipe-roller">
    {{#each randomRecipes}}
    <a href="/recipes/{{this._id}}">
        <div class="post-box">
            <img src="{{this.image}}" alt="recipe image" class="photo"> 
            <h2>{{this.title}}</h2>
        </div>
    </a>
    {{/each}}
</div>