<section id="home-page" class="flex">
    <div id="title-bar">
    <h1>Welcome to the home of food</h1>
    <h3>The place for food, friends, family and fun</h3>
    {{#if foodJoke}}
    <p id="food-joke"><h4><i>{{foodJoke}}</i></h4></p>
    {{/if}}
    </div>
    <h3>Search for recipes below, or sign in to use the meal planning tool</h3>
    <div id="search-bar-box">
        <input id="search_input" type="text" class="input" placeholder="Search for anything">
        <ul id="search_results"></ul>
    </div>
    <h3>Or what about trying one of these tasty treats?!</h3>
    <div id="recipe-roller">
        {{#each randomRecipes}}
        <a href="/recipes/{{this._id}}">
            <div class="post-box">
                <img src="{{this.image}}" alt="recipe image" class="photo"> 
                <h2>{{this.title}}</h2>
            </div>
        </a>
        {{/each}}
    </div>
</section>