<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/profile.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {{#if css}}
    <link rel='stylesheet' href='/stylesheets/{{css}}.css'/>
    {{/if}}
    {{#if js}}
    <script type="module" src="/javascript/{{js}}.js"></script>
    {{/if}}
  </head>
 <body>
    <div class="content">
    <header id="nav-bar" class="check">
      <a href="/"><h2 id="logo">Recipe Hunter</h2></a>
        
        
        <nav id="page-links">
            <a href="/">Home</a>
            <a href="/recipes">Recipes</a>
            
            {{#unless isLoggedIn}}
            <a  href="/auth/signin" id="nav_login" class="button-ternary flexed-item nav-end-item">
            <span class="btn-text">Sign in</span>
            </a>
            {{/unless}}
            {{#if isLoggedIn}}
            <a href="/mealplan">Meal Planner</a>
            <a  href="/auth/signout" id="nav_logout" class="button-ternary flexed-item nav-end-item">
              <span class="btn-text">Log out</span>
            </a>
            <a  href="/users" id="nav_users" class="button-ternary flexed-item nav-end-item">
              <span class="btn-text">Profile</span>
            </a>
            {{/if}}
        </nav>
        
    </header>
  
    {{{body}}}
    
    </div>
    {{!-- {{> footer}} --}}
    
    
</body>
</html>
