<script type="module" src="/javascript/meal-plan.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<h1>Hi {{user.userName}}, let's plan some food!</h1>

<h2>who have you got coming to dinner?</h2>

<div id="guest-buttons">
    {{#each user.guests}}
        <div value="{{#each this.dietaryRequirements}}{{this}} {{/each}}" class="diet-btn" ><h2>{{this.name}}</h2></div>
    {{/each}}
</div>

<div id="lets-cook" class="btn">Let's Cook!</div>

<div id="recipes">
</div>
