<script type="module" src="/javascript/meal-plan.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<h1>Hi {{user.userName}}, let's plan some food!</h1>

<h2>Who's coming to dinner?</h2>

<div id="guest-buttons">
    {{#each user.guests}}
    <div value="{{#each this.dietaryRequirements}}{{this}} {{/each}}" class="diet-btn">
        <h2>{{this.name}}</h2>
    </div>
    {{/each}}
</div>

        <h2>What's in your fridge?</h2>

<section id="fridge-wrapper">
    {{!-- <img src="/images/happy-fridge.png" alt="happy fridge"> --}}

    <div id="ingredient-search">

        <input id="ingredient1" type="text" placeholder="Insert Ingredient" name="ingredient1">
        <input id="ingredient2" type="text" placeholder="Insert Ingredient" name="ingredient2">
        <input id="ingredient3" type="text" placeholder="Insert Ingredient" name="ingredient3">

    </div>
</section>

<div id="lets-cook" class="btn">Let's Cook!</div>

<div id="recipes">
    
    <img src="" alt="">
</div>