/* * {
    border: 1px solid black;
} */

#results-wrapper {
    width: 85vw;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}



#dish-type-box {
    border-top: black solid 2px ;
    border-bottom: black solid 2px ;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 150px;
    margin: 28px 60px 0 0;

}

#recipes-box {
    width: 60vw;
}






#recipes-wrapper a {
    text-decoration: none;
    color: black;
    font-size: larger;
}



#recipes-wrapper  {
    width: 60vw;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    border-top: black solid 2px ;
    border-bottom: black solid 2px ;
    padding-top: 20px;
    margin: 10px 0;
}


#recipes-wrapper .recipes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 15vw;
    height: 200px;
    padding: 20px;
    margin: 0 0 10px 0;
    /* border: black 1px solid; */
    background: white;
}

#recipes-wrapper .photo {
    width: 15vw;

}

#recipes-wrapper .recipes h2 {
    width: 15vw;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;

}