@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



body {
    font-family: Roboto;
    background:white;
    position: relative;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.text {
    font-family: Raleway;

}

.content {
    height: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


/* Nav bar header */

#nav-bar {
    height: 50px;
    width: 100vw;
    margin: 0;
    display: flex;
    background: white;
    justify-content: space-between;
    border-bottom: 10px solid black;
}

#nav-bar a {
    text-decoration: none;
    color: black;
}

#logo {
    height: 50px;
    margin: 0;
    font-size: 40px;
    padding: 0px 20px;
    

}

#page-links {
    display: flex;
    width: 30vw;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
}

#page-links a {
    text-decoration: none;
    color: black;
}

#sign-in {
  display: flex;
  width: 10vw;
  padding: 0px;
  justify-content: space-evenly;
  align-items: center;
}

#sign-in a {
  text-decoration: none;
  color: black;
}

/* Footer bar */

#footer-links {

    display: flex;
    width: 100vw;
    height: 70px;
    justify-content: center;
    align-items: center;
    background: white;
    border-top: black solid 10px;
    flex-shrink: 0;
}

.ft-link {
    width: 31px;
    padding: 10px;

}

/* home page */
#filter-bar-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100px;
    align-items: center;
    justify-content: center;

}


#filter-results {
    position: absolute;
    top: 45px;
    background: white;
    border: black 1px solid;
    width: 436px;
    max-height: 500px; 
    overflow: scroll;
    list-style: none;
    padding: 0px 10px;
    z-index: 2;

}

#search-bar-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100px;
    align-items: center;
    justify-content: center;

}

#search_input {
    width: 450px;
}

#search_results {
    position: absolute;
    top: 45px;
    background: white;
    border: black 1px solid;
    width: 436px;
    max-height: 500px; 
    overflow: scroll;
    list-style: none;
    padding: 0px 10px;
    z-index: 2;

}

#search_results a {
    text-decoration: none;
    color: black;
    
}

#search_results li {
    margin-top: 3px;
}


#recipe-roller {
  height: 400px;
  width: 100vw;
  margin: 60px 0px;
  border-top: black 5px solid;
  border-bottom: black 5px solid;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: black;
}

#recipe-roller a {
    text-decoration: none;
    color: black;
}

.post-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 25vw;
    height: 260px;
    padding: 20px;
    border: black 1px solid;
    background: white;
}

.photo {
    width: 25vw;

}

.post-box h2 {
    width: 25vw;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;

}

/* Meal plan page */

#guest-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.diet-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    background: white;
    border: 2px black solid;
    padding: 5px;
    height: 50px;
    width: 140px;
    margin: 20px;
}

.diet-btn.clicked {
    background: gray;
}

.btn ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.btn h2 {
    padding: 0;
    margin: 0;
}

/* sign in/ up*/

.form-container.signin {
    margin-top: 100px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black 2px solid; 
    
    
}


.form-container.signup {
    margin-top: 100px;
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black 2px solid; 
    
    
}

#form_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-header {
    text-align: center;
}

.input {
    width: 300px;
    height: 20px;
    margin: 10px 0;
}

.form-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.label {
font-weight: 600;
}

.button-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: white;
    border: 2px black solid;
    padding: 5px;
    height: 30px;
    width: 120px;
    margin: 20px;

}

.flash-msg {
    background: chocolate;
    border: black 1px solid;
    color: black;
}

.msg {
    border: black 2px solid;
    width: 20px;
    height: 100px;
}


/* recipes */




#recipes {
    padding-top: 70px;
}


#recipes h2 {
    display: flex;
    width: 100vw;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 3rem;
    font-family: Raleway;
    align-items: center;
    justify-content: center;
    border-top: black solid 2px;
    border-bottom: black solid 2px;

}


/* about */


#about {

    display: flex;
    color: black;
    height: 500px;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

#about p {
    padding: 0 15px;

}



