@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


 
/* #62a5a1; */ 

body {
    font-family: Roboto;
    background:#f8f9fa;
    position: relative;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h4,
h3,
h5 {
    font-family: "PT Serif",Georgia,Times,Times New Roman,serif;
}

.text {
    font-family: Raleway;

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    height: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


/* Nav bar header */

#nav-bar {
    height: 80px;
    width: 100vw;
    margin: 0;
    display: flex;
    background: whitesmoke;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid black;

    
}

#nav-bar a {
    text-decoration: none;
    color: black;
}

#logo {
    height: 50px;
    margin: 0;
    font-size: 40px;
    padding: 0px 20px;
    

}

#page-links {
    display: flex;
    width: 500px;
    padding: 0px 35px;
    justify-content: space-between;
    align-items: center;
}

#page-links a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

#sign-in {
  display: flex;
  width: 10vw;
  padding: 0px;
  justify-content: space-evenly;
  align-items: center;
}

#sign-in a {
  text-decoration: none;
  color: black;
}



/* home page */

#title-bar {
    background-image: url(https://res.cloudinary.com/adgranmous/image/upload/v1615462299/itl.cat_food-wallpaper-hd_2906065_b0wfn3.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    border-bottom: 2px black solid;
    height: 450px;
    width: 100vw;
    max-width: 2000px;
    justify-content: center;
    align-items: center;
}

#title-bar h1 {
    font-size: 3.5rem;
}



#home-page h3 {
    margin: 30px;
}

#search-bar-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

#search_input {
    width: 700px;
    height: 30px;
    background: whitesmoke;
    border-style: none;

}

/* #343a40;
: #343a40;
-light: #f8f9fa; */

#search_input::placeholder {
 color: black;
 font-family: Roboto;
 font-size: 1.3rem;
 text-align: center;
 
}

#search_results {
    position: absolute;
    top: 29px;
    background: white;
    border: black 1px solid;
    width: 700px;
    max-height: 500px; 
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
    padding: 0px 10px;
    z-index: 2;

}

#search_results a {
    text-decoration: none;
    color: black;
    
}

#search_results li {
    margin-top: 3px;
}


#recipe-roller {
  height: 350px;
  width: 85vw;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

#recipe-roller a {
    text-decoration: none;
    color: black;
}

.post-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 20vw;
    height: 260px;
    padding: 20px;
    background: white;
}

.photo {
    width: 20vw;

}

.post-box h2 {
    width: 20vw;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;

}

/* Recipe pages */

#recipe-card {
    width: 900px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: whitesmoke

}

.main-box {
    height: 350px;
    width: 900px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}


.image {
    width: 450px;
}
.recipe-pic {
    width: 400px;
    margin: 25px;
}

.main-box h1 {
    margin: 20px 0 8px 0;
    width: 400px;
}

.main-box h3 {
    width: 375px;
    margin: 5px 0 15px 0;
    padding: 10px 0;
    border-top: black 2px solid;
    border-bottom: black 2px solid;;
}

.main-box .dishes {
    width: 375px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 10px 0;
    font-weight: 700;
    border-top: black 2px solid;
    border-bottom: black 2px solid;;
}

.main-box #diets {
    width: 300px;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}


.main-box #diets :nth-child(even) {
    background: turquoise
}

.main-box #diets :nth-child(odd) {
    background: lightblue
}


.main-box #diets li {
    margin: 3px 0;
    padding: 5px;
    text-align: center;

}

.ingredients .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: forestgreen;
    color: white;
    width: 250px;
    height: 35px;
    margin: 25px 0;
}

.ingredients .btn a {
    color: white;
}

.lower-box {
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
}

.ingredients {
    width: 300px;
}

.ingredients p {
    margin: 10px 0;
}

.instructions {
    width: 500px;
    
}

.ingredients-list {
    width: 250px;
    padding: 20px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.instructions > b,p,a {
    text-decoration: none;
    color: black;
}


.instructions p {
    line-height: 1.6;
}




/* Meal plan page */



/* sign in/ up*/

.form-container.signin {
    margin-top: 100px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black 2px solid; 
    
    
}


.form-container.signup {
    margin-top: 100px;
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black 2px solid; 
    
    
}

#form_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-header {
    text-align: center;
}

.input {
    width: 300px;
    height: 20px;
    margin: 10px 0;
}

.form-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.label {
font-weight: 600;
}

.button-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: white;
    border: 2px black solid;
    padding: 5px;
    height: 30px;
    width: 120px;
    margin: 20px;

}

.flash-msg {
    background: chocolate;
    border: black 1px solid;
    color: black;
}

.msg {
    border: black 2px solid;
    width: 20px;
    height: 100px;
}


/* recipes */




#recipes {
    padding-top: 70px;
}


#recipes h2 {
    display: flex;
    width: 100vw;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 3rem;
    font-family: Raleway;
    align-items: center;
    justify-content: center;
    border-top: black solid 2px;
    border-bottom: black solid 2px;

}


/* about */


#about {

    display: flex;
    color: black;
    height: 500px;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

#about p {
    padding: 0 15px;

}



