{{#if success_msg}}
<p class="flash-msg success">
    {{success_msg}}</p>
{{/if}}
{{#if warning_msg}}
<p class="flash-msg warning">
    {{warning_msg}}</p>
{{/if}}
{{#if error_msg}}
<p class="flash-msg error">
    {{error_msg}}</p>
{{/if}}
